<!DOCTYPE html>
<html lang="ru">
<head>
<meta charset="UTF-8">
<title>{{ file.name }}</title>
</head>
<body>
<h1>{{ file.name }}</h1>
		<table class="table">
			<tr>
				<th>Имя файла</th>
				<th>Расширение</th>
				<th>Размер</th>
				<th>Путь</th>
				<th>Создано</th>
				<th>Изменено</th>
				<th>Комментарий</th>
			</tr>
			<tr>
				<td>{{ file.name }}</td>
				<td>{{ file.extension }}</td>
				<td>{{ file.size }}</td>
				<td>{{ file.path }}</td>
				<td>{{ file.created_on }}</td>
				<td>{{ file.changed_on }}</td>
				<td>{{ file.commentary }}</td>
				<td><a href="/update/{{file.id}}" class="btn btn-danger btn-xs" onclick="return confirm('Изменить метаданные файла?')">Изменить</a></td>
				<td><a href="/delete/{{file.id}}" class="btn btn-danger btn-xs" onclick="return confirm('Удалить файл из хранилища?')">Удалить</a></td>
			</tr>
		</table>
	</body>
</html>
